@font-face {
    font-family: myFirstFont;
    src: url("../GalleryModern.otf");
}

h1 {
    font-family:'myFirstFont'!important;
    font-weight:400;
    font-size: 3.4rem;
    
}

h2 {
    font-family:'gallery modernregular!important';
    font-family:'myFirstFont'!important;
    font-weight:400;
    font-style: normal;
}

p {
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-family:'myFirstFont'!important;
    font-weight:700;
}

h4 {
    font-family:'myFirstFont'!important;
    font-weight:400;
}

li {
    font-family: 'Poppins', sans-serif;
}

span {
    padding-right: 25px;
}
/* Part-1 CSS */
.navitem {
    margin: 0 28px;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}
  
a:hover {
  color: #000;
}
  
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
  
a:hover::before {
  transform: scaleX(1);
}

.carousel-img {
    height: 70vh;
}

.nav-text {
    font-family: 'Poppins', sans-serif;
}
/* Part-3 */

* {
    box-sizing: border-box;
}

/* Part-3 */

.wrapper {
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: auto;
}

.card_1 {
    width: 275px;
    height: 295px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin-left: 24px;
}

.card_1:hover {
    transform:scale(1.05);
}

.card_1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card_1:hover:before {
    opacity: 1;
}

.card_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card_1 .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
}

.card_1:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card_1 .info h1 {
    margin: 0px;
}

.card_1 .info p {
    letter-spacing: 0.8px;
    font-size: 13px;
    margin-top: 5px;
}

.card_1 .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card_1 .info button:hover {
    background: dodgerblue;
    color: white;
}

.card-row {
    width: 100%;
    margin: 50px auto;
}

/* About Us */
.about-us {
    width:100%;
    height:300px;
    background-color: white;
    margin:60px auto;
    background-image: url("../Images/about-us2.avif");
    text-align: center;
    position: relative;
    font-size:18px;
    line-height: 1.5;
}

/* .about-us-img {
    width: 100%;
    height: 400px;
    opacity:1 ;
    border-radius: 1%;
} */

.about-us-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* Part-4 */

.part-4 {
    margin-top: 100px;
    margin-bottom: 5%;
}

.circle {
    width: 100%;
    height: 555px;
}

.circle-img {
    width:80%;
    height: 85%;
    border-radius: 100%;
}

.circle-img-col {
    text-align: center;
    padding: 0;
}

.circle-img-txt {
    margin-top: 50px;
    
}

@media (prefers-reduced-motion: no-preference){
    .img-1 {
        float: right;
        animation: slideout-left 1s;
        /* animation-iteration-count: infinite; */
    }
}

@media (prefers-reduced-motion: no-preference) {
    .img-2 {
        float: left;
        animation: slidein-right 1s;
        /* animation-iteration-count: infinite; */
    }
}

@media (prefers-reduced-motion: no-preference) {
    .txt-1 {
        text-align: left;
        padding: 50px;
        animation: slideout-right 1.5s;
        /* animation-iteration-count: infinite; */
        
    }
}

@media (prefers-reduced-motion: no-preference) {
    .txt-2 {
        text-align: right;
        padding: 50px;
        animation: slideout-right 1.5s;
        /* animation-iteration-count: infinite; */
    }
}

@keyframes slideout-right {
    from {
        margin-left: -10%;
      }
      to {
        margin-left: 0;
      }
}

@keyframes slideout-left {
    from {
        margin-right: -10%;
    }
    to {
        margin-right: 0;
    }
}

@keyframes slidein-right {
    from {
        margin-left:50%;
    }
    to {
        margin-left:0;
    }
}

.card-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/* Part 7 */
.f1 {
    margin: 30px 0 60px;
}

footer {
    background-color: #25211b;
    color: #fff;
    padding: 12px 70px;
}

.footer-logo {
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footer-btn {
    margin-top: 16px;
    color: #fff;
    background-color: #000;
}

.part-7 {
    margin-top: 5%;
}
/* Part-5 */ 

.card-img-top {
    height: 280px;
    width: 100%;
    object-fit: cover;
}


.part-5-row {
    width:100%;
}





